<h1>Iniciar session</h1>
<%= form_tag sessions_path, :class=>"well" do %>
    <%= label_tag :usuario %>
    <%= text_field_tag :username, params[:username] %>
    <%= label_tag :password %>
    <%= password_field_tag :password %>
    <br />
    <%= button_tag "Log in", :class=>"btn btn-primary" %>
<% end %>
