<h1>Usuario</h1>
<%= link_to "Nuevo Usuario", new_user_path, :class=>"btn btn-primary" %>
<br />
  <br />
  <table class="table table-striped">
  <tr>
    <th>Usuario</th>
    <th>Email</th>
    <th>Accion</th>
    <th>Reset<th>
  </tr>
<% for usr in @users %>
    <tr>
      <td>
        <%= usr.username %>
      </td>
      <td><%=usr.email%></td>
      <td><%=link_to "Eliminar"%></td>
      <td><%=link_to "Resetear password"%></td>
    </tr>
<% end %>
  
  
</table>
