<h1>Nuevo Usuario</h1>
<%= form_for @user, :html=>{:class=>"well"} do |f| %>
  <%= render "shared/error_messages", :target => @user %>
    <%= f.label :username %>
    <%= f.text_field :username %>
    <%= f.label :email %>
    <%= f.text_field :email %>
    <%= f.label :password %>
    <%= f.password_field :password %>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
    <%= f.label :tipo %>
    <%= select("user","tipo",["dulcero","almacen", "administrador"])%>
    <br />
  <%= f.submit :class=>"btn btn-primary" %>
<% end %>



  
