<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <ul class="nav pull-right">
    <% if current_user %>
      <% case current_user.tipo%>
        <% when "dulcero"%>
          <li>
            <%=link_to "Ventas", new_d_sale_path%>
          </li>
          <li>
            <a href="<%= notifications_path%>">
              <!--span class="badge badge-info">8</span-->
              Notificaciones
            </a> 
          </li>
          
        <% when "almacen" %>
          <li>
            <%= link_to "Dulcero", new_user_path%>
          </li>
          <li>
            <%= link_to "Productos", products_path%>
          </li>
          <li>
            <%= link_to "Abastecer", orders_path%>
          </li>
          <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">Reportes <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                          <li><%= link_to "Corte diario", corte_diario_reports_path%></li>
                          <li><%= link_to "Corte mensual", corte_mensual_reports_path%></li>
                          <li> <%=link_to "Pedidos", index_alm_requests_path%></li>
                        </ul>
            </li>

        <% else %>
          <li>
            <%= link_to "Combos", e_combos_path%> 
          </li>
          <li>
            <%= link_to "Usuarios", users_path%>
          </li>
          <li>
            <%= link_to "Proveedores", suppliers_path%>
          </li>
          <li><%= link_to "Irregularidades", reports_path%></li>
          
      <% end%>
      <li>
        <a>Logeado como <%= current_user.username %>.</a>
      </li>
      <li>
      <%= link_to "Log out", logout_path %>
      <li>
    <% else %>
      <li>
      <%= link_to "Log in", login_path  %>
      </li>
    <% end %>
    </ul>
  </div>
</div>
