<h1>Dar producto de baja.</h1>
<%= form_for(@gift, :html => {:class=>"well"}) do |f| %>
    <%= render "shared/error_messages", :target => @gift%>
        <%=f.label :producto%>
        <%=
    if @gift.product
      f.text_field :product_name 
    else 
      f.text_field :product
    end
    %>
        <%=f.label :cantidad%>
        <%=f.text_field :cantidad%>
        <%=f.hidden_field :product_id%>
        <%=f.label :Motivo%>
        <%=f.text_field :motivo%>
        <br/>
        <%=f.submit "Enviar",:class=>"btn"%>
<%end%>
