<h1>Dulcero</h1>
<br>
<%= link_to "Nueva Solicitud", new_request_path, :class=>"btn btn-primary" %>
<br/>
<br />
<table class="table">
	<tr>
		<th>Producto</th>
		<th>Dulcería</th>
		<th>Cantidad</th>	
		<th>Recibido</th>
		<th>Editar</th>
		<th>Cancelar</th>
		<th>Completar</th>

	</tr>
	
		<%@request.each do |s|%>
<%= form_tag('/requests/complete_request') do |f| %>
			<tr>
				<td><%= s.product.name%></td>
				<td><%= s.product.cantDulc %></td>
				<td><%= s.amount %></td>
				<td>
					<%= hidden_field_tag 'request_id', s.id %>

					<%= 
            text_field_tag 'cantidad',s.amount,  :maxlength => 3, :style => "width:50px;" 
          %></td>
				<td><%= 
        
        link_to "Editar", edit_request_path(s.id)  if s.status == nil%></td>
				<td><%= link_to "Cancelar", request_path(s.id), :confirm=>"¿Desea eliminar esta peticion?", :method => :delete %></td>
				<td><%= submit_tag 'Completar', :class => "btn btn-primary" %></td>
			</tr>
    <%end%>
		<%end%>

</table>
<h3>Envíos Recientes</h3>
<br><br/>
<table class="table">
	<tr>
		<th>Producto</th>
		<th>Dulcería</th>
		<th>Cantidad</th>	
		<th>Recibido</th>
		<th>Fecha de pedido</th>
		<th>Fecha de termino</th>
		<th>Usuario</th>
		
	</tr>
	<%@complete.each do |s|%>
		<tr>
			<td><%= s.product.name%></td>
			<td><%= s.product.cantDulc %></td>
			<td><%= s.amount %></td>
			<td><%= s.recibido %></td>
			<td><%= s.created_at %></td>
			<td><%= s.updated_at %></td>
		</tr>
	<%end%>
</table>
