<%= form_for(@order, :html => {:class=>"well"}) do |f| %>
	<%= render "shared/error_messages", :target => @order%>
		<%=f.label :producto%>
		<%=
    if @order.d_supplier.product
      f.text_field :product_name 
    else 
      f.text_field :product
    end
    %>
		<%=f.label :cantidad%>
		<%=f.text_field :cantidad%>
		<%=f.label :factura%>
		<%=f.text_field :factura%>
		<%=f.hidden_field :product_id%>
      	<br/>
		<%=f.submit :class=>"btn"%>
<%end%>
<h2>Lista</h2>
<table class="table">
	<tr>
		<th>Producto</th>
		<th>Cantidad</th>	
		<th>Factura</th>
		<th>Proveedor</th>
		<th>Eliminar</th>

	</tr>
		<%@order.each do |s|%>
			<tr>
				<td><%= s.d_supplier.product.name%></td>
				<td><%= s.cantidad %></td>
				<td><%= s.factura %></td>
				<td><%= s.d_supplier.supplier.nombre%></td>
				<td><%= link_to "Eliminar", request_path(s.id), :confirm=>"¿Desea eliminar este pedido?", :method => :delete %></td>
			</tr>
		<%end%>
</table>