<%= form_tag(orders_path, :html => {:class=>"well"}) do  %>
	<%= render "shared/error_messages", :target => @order%>
		<%=label_tag :producto%>
		<%=text_field_tag :order_product%>
      	<%=hidden_field_tag :order_product_id%>
		<%=label_tag :cantidad%>
		<%=text_field_tag :cantidad%>
		<%=label_tag :factura%>
		<%=text_field_tag :factura%>
		<%=label_tag :proveedor%>
		<div id="supplier_combobox_div"></div>
      	<br/>
      	<%=button_tag "Agregar",:class=>"btn btn-primary",:id=>"order_enviar", :type=>"button"%>
<h2>Lista</h2>
<table class="table" id="order_lista">
	<tr>
		<th>Producto</th>
		<th>Cantidad</th>	
		<th>Factura</th>
		<th>Proveedor</th>
		<th>Eliminar</th>

	</tr>
</table>
<%=submit_tag "Finalizar",:class=>"btn btn-primary"%>
<%end%>