<h1>Lista de combos</h1>
<%= link_to "Nuevo" ,new_e_combo_path %>
<br />
<br />
<table class="table">
<tr>
  <th>Combo</th>
  <th>Precio</th>
  <th>Accion</th>
  <th>Accion</th>
  <th>Accion</th>
</tr>
<% for combo in @combos %>
<tr>
	<td>
    <%=combo.nombre%>
	</td>
	<td>
		<%=combo.precio%>
	</td>
	<td>
		<%=link_to "Ver", e_combo_path(combo.id) %> 
	</td>
  <td>
    <%= link_to "Editar", edit_e_combo_path(combo.id) %>
  </td>
  <td>
    <%=link_to "Eliminar",combo,:confirm => "¿Esta seguro?", :method =>:delete %> 
  </td>
</tr>
<%end%>
</table> 
