<h1>Lista de combos</h1>
<%= link_to "Nuevo" ,new_e_combo_path %>
<br />
<br />
<% for combo in @combos %>
<div id="combo_<%=combo.id%>" class="combo">
	<div class="combo_name">
		<%=combo.nombre%>
	</div>
	<div class="combo_precio">
		<%=combo.precio%>
	</div>
	<div class="combo_ver">
		<%=link_to "Ver", e_combo_path(combo.id) %> 
	</div>
  <div class="combo_eliminar">
    <%=link_to "Eliminar",combo,:confirm => "¿Esta seguro?", :method =>:delete %> 
  </div>
</div>
<%end%> 
