<h1>Detalles del combo</h1>
<div class="well">
<div class="row">
	<div class="span2">
		<strong>Nombre:</strong>
	</div>
	<div class="span2">
		<%=@combo.nombre%>
	</div>	
</div>
<div class="row">
	<div class="span2">
		<strong>Precio:</strong>
	</div>
	<div class="span2">
		<%=@combo.precio%>
	</div>
</div>
<h2>Productos</h2>
<ul>
<% @dcombo.each do	|p| %>
		<li><%=p.cantidad%> X <%=p.product.name%>  $<%=p.product.precio%></li>
<% end %>
</ul>
<%= link_to "Todos los combos", e_combos_path, :class=>"btn btn-primary"%>
</div>
