<h1>Ventas</h1>
<div class="well">
  <%= render 'shared/error_messages', :target=>@item%>
  <div class="row">
    <div class="span2 ">
      <strong>ID venta:</strong>
    </div>
    <div class="span1">
      <%=@cart.id%>
    </div>
  </div>
    <div class="row">
    <div class="span2 ">
      <strong>Fecha:</strong>
    </div>
    <div class="span1">
      <%=@cart.fecha%>
    </div>
  </div>
</div>
<h3>Agregar Producto</h3>
  <%= form_tag d_sales_path, :class=>"well form-search" do %>
    <%= label_tag :Producto%>
    <%= text_field_tag :search, params[:search]%>
    <%= label_tag :cantidad%>
    <%= text_field_tag :cantidad, "1", :class=>"span2"%>
    <%= hidden_field_tag :product_id%>
    <%= hidden_field_tag :product_type%>
    <%= submit_tag "Search", :name => nil, :class=>"btn btn-primary" %>
  <%end%>
<table class="table">
  <tr><th>Nombre</th><th>Precio</th><th>Cantidad</th><th>Subtotal</th><th>Eliminar</th></tr>
<% @p_and_c.each do |p| %>
  <tr>
<% if p.product %>
      <td><%=p.product.name%></td>
      <td><%=p.product.precio%></td>
      <td><%=p.cantidad%></td>
      <td><%=p.cantidad * p.product.precio%></td>
<% elsif p.e_combo %>
      <td><%=p.e_combo.nombre%></td>
      <td><%=p.e_combo.precio%></td>
      <td><%=p.cantidad%></td>
      <td><%=p.cantidad * p.e_combo.precio%></td>
<% end %>
      <td><%= button_to "Eliminar",d_sale_path(p.id), :method=> :delete, :class=>"btn btn-danger"%>
  </tr>
<% end%>
<tr>
  <td></td><td></td><td>Total:</td><td><%=@cart.total_price%></td>
</tr>
</table>
<%=button_to "Finalizar Venta"%>


  



