<%= form_for (@product) do |f|%>
	<div class="fila">
		<div class="campo">
			<%=f.label :name%>
		</div>
		<div class="valor">
			<%=f.text_field :name%>
		</div>
	</div>
	<div class="fila">
		<div class="campo">
			<%=f.label :precio%>
		</div>
		<div class="valor">
			<%=f.text_field :precio%>
		</div>
	</div>
	<div class="fila">
		<div class="campo"></div>
		<div class="valor">
			<%=f.submit%>
		</div>
	</div>
<%end%>
