<h1>Productos</h1>
<br/>
<%= link_to "Nuevo producto", new_product_path %>
<br/>
<br/>
<table class="table">
<tr>
  <th>Producto</th>
  <th>Precio</th>
  <th>Editar</th>
  <th>Eliminar</th>
</tr>
<% for product in @products %> 
  <tr>
		<td>
      <%=product.name%>
		</td>
		<td>
      <%=product.precio%>
		</td>
		<td>
      <%= link_to 'Editar', edit_product_path(product.id) %>
		</td>
		<td>
			<%= link_to 'Eliminar', product, :confirm => "¿Esta seguro?",
			:method => :delete %>
		</td>
  </tr>
<%end%>
</table>
